.lastcontainer{
    background-image: linear-gradient(to top,rgba(255,255,255,0.1),rgba(80, 202, 224, 0.4));
backdrop-filter: blur(10px);
box-shadow: 0 0 10px 0 rgba(80, 202, 224, 0.4) ;
border-radius: 10px;
padding: 10px;
width: 105px;
border: 1px solid rgba(255, 255, 255, 0.4);
text-align: center;
}